body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.all {
    display: flex;
    height: 100vh;
}

.L-side {
    background-color: rgb(253, 243, 205);
    flex: 1;
    max-width: 90vw;
   
}

.header {
    margin-left: 2vw;
    font-size: 16px;
    color: orange;;
}

.circle {
    width: 11px;
    height: 15px;
    border-radius: 50%;
    background-color: orange;
    margin: 20px auto;
    margin-left: 0.5vw;
    border-color: orange;
}

.text {
    margin-top: 30vh;
    font-size: 28px;
    color: orange;
    margin-left: 2vw;
    max-width: 30vw;
}

.R-side {
    flex: 1;
    max-width: 40vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h4 {
    margin-top: 0;
    color: #333;
}
.start{
    font-size: 28px;
    margin-top: 38vh;
    margin-left: 15vw;

}
.login{
    background-color: darkblue;
    width: 11vw;
    height: 5vh;
    color: white;
    margin-left: 12vw;
    border-radius: 13%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



.sing{

    background-color: darkblue;
    width: 11vw;
    height: 5vh;
    color: white;
    margin-left: 1vw;
    border-radius: 13%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.ai{
    margin-top: 35vh;
    margin-left: 21vw;
height: 3vw;
color: gray;
margin-bottom: 1vw;
}
.aitext{
margin-top: -6vh;
margin-left: 24vw;
color: gray; 
font-size: 10px; /
}
.bootom{
    margin-top: 1vh;
    font-size: 10px; 
    color: gray; 
    margin-left: 16vw;
    text-decoration: underline;
}

.space{
height: 1000vh;
}

